ul {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-family: 'Exo', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    margin: 0;
}

.header-top {
    background-color: #ddd567;
}

.header-top-in {
    padding: 0.5em 1em;
}

.logo {
    float: left;
}

.header-in {
    float: right;
}

.icon1 li {
    display: inline-block;
}

.header-in ul li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 0.8em;
    padding: 2.4em 1em;
}

.cart {
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.cart span {
    background: #f8390d;
    border-radius: 50px;
    color: #fff;
    font-size: 0.7em;
    width: 20px;
    height: 20px;
    display: block;
    top: -5px;
    right: -8px;
    position: absolute;
    text-align: center;
    border: 1px solid #E73737;
    padding: 2px 0 0;
}

a.cart-in {
    width: 37px;
    height: 37px;
    background: url(../images/img-sprite.png)no-repeat -7px -53px;
    display: block;
    text-decoration: none;
}

.icon1 ul {
    position: absolute;
    margin: 5px -100px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    width: 240px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    transition: all .5s cubic-bezier(1, -0.01, 0.98, 0.85);
    z-index: 100;
}

.icon1 li a:hover {
    color: aqua;
    transition: all .2s ease-in-out;
}

.sub-icon1 h3 {
    font-size: 1.3em;
    padding: 0 0 0.5em;
    color: #f95a32;
}

.list_img {
    margin-right: 10px;
    float: left;
}

.list_desc {
    float: left;
    width: 50%;
    font-size: 10px !important;
}

.list_desc h4 a {
    color: #000 !important;
    font-size: 10px !important;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1em 0 !important;
}

span.actual {
    color: #92d3d0;
    font-size: 10px;
    font-weight: 600;
}

.list_desc h4 a:hover {
    color: #f54d56;
}

.cart_box {
    margin-bottom: 1em;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.check_button {
    text-align: center;
}

.check_button>a {
    color: #fff;
    font-size: 0.7em !important;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 8px 10px !important;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #92d3d0;
    margin: 10px auto 0;
    width: 40%;
}

.total {
    padding: 10px;
    margin: 1em 0.5em;
    background: rgb(245, 245, 245)
}

.total_left {
    float: left;
}

.total_right {
    float: right;
    margin-right: 20px;
}

.check_button a:hover {
    background: #fb5e33;
    color: #fff !important;
}

.header-bottom {
    width: 100%;
    height: 71px;
    background: url(../images/back1.png) bottom;
    display: block;
}


/**/

.h_menu4 {
    float: none;
}

.nav {
    list-style: none;
    *zoom: 1;
}

.nav ul {
    list-style: none;
    width: 13.3em;
    z-index: 888;
    left: -1px;
    top: 40px;
    display: none;
}

.nav ul {
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(1, -0.01, 0.98, 0.85);
    -moz-transition: all .3 cubic-bezier(1, -0.01, 0.98, 0.85);
    -ms-transition: all .3s cubic-bezier(1, -0.01, 0.98, 0.85);
    -o-transition: all .3s cubic-bezier(1, -0.01, 0.98, 0.85);
    transition: all .3s cubic-bezier(1, -0.01, 0.98, 0.85);
}

.nav li a {
    display: block;
    padding: 0;
    color: #7d7253;
    font-size: 0.85em;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.active {
    background: #fbf2d3;
}

.nav li.active>a {
    color: #000000;
}

.nav li a i {
    background: url(../images/home.png)no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 14px 0 0;
}

.nav li:hover,
.nav li:hover>a {
    background-color: #fbf2d3;
}

.nav li {
    position: relative;
}

.nav>li {
    float: left;
    padding: 1.93em;
}

.nav>li:hover>a {
    color: #000000;
}

.nav>li:hover>ul {
    display: block;
    opacity: 1;
    background: #fbf2d3;
    left: -1px;
    top: 40px;
}

.nav>li>li>a {
    font-size: 0.85em;
    padding: 10px 20px;
    display: block;
    color: #7d7253;
    background: #fff;
    position: relative;
    z-index: 9999;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    text-decoration: none;
    margin: 0;
}

.nav li li a {
    padding: 0.5em;
    font-size: 0.85em;
}

.nav li li a:hover {
    color: #fff;
    background: #f54922;
    border-radius: 50px;
}

.nav>li>ul {
    position: absolute;
    padding: 0;
    z-index: 9999;
    background: #fbf2d3;
    margin-top: 2.2em;
    padding: 1em;
}

.nav ul.drop li {
    padding: 0.5em 0;
    background: #fbf2d3;
}


/**/

.header-bottom-in {
    width: 100%;
    height: 63px;
    background: url(../images/back2.png)0px 0px;
    display: block;
}

.header-bottom-on {
    padding: 1.3em 1em;
}

.wel {
    float: left;
    font-size: 1em;
    font-style: italic;
    margin-top: 0.5em;
}

.wel a {
    text-decoration: none;
    color: #a7a49c;
    transition: all 0.5s ease-in-out;
}

.wel a:hover {
    color: #E73737;
}

.header-can {
    float: right;
    width: 40%;
}

ul.social-in {
    float: left;
    width: 23%;
    margin-top: 0.5em;
}

ul.social-in li {
    display: inline-block;
}

ul.social-in li i {
    background: url(../images/img-sprite.png)no-repeat -13px -11px;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 3px;
}

ul.social-in li i.facebook {
    background-position: -43px -11px;
}

ul.social-in li i.twitter {
    background-position: -73px -11px;
}

ul.social-in li i.skype {
    background-position: -102px -11px;
}

ul.social-in li i:hover {
    background-position: -28px -11px;
}

ul.social-in li i.facebook:hover {
    background-position: -58px -11px;
}

ul.social-in li i.twitter:hover {
    background-position: -87px -11px;
}

ul.social-in li i.skype:hover {
    background-position: -116px -11px;
}

.down-top {
    float: left;
    width: 30%;
}

select.in-drop {
    outline: none;
    background: #fff;
    width: 94%;
    font-size: 0.9em;
    padding: 3px;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-bottom: none;
    border-right: none;
}

.search {
    float: left;
    position: relative;
    width: 47%;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    background: #fff;
    border-radius: 4px;
}

.search input[type="text"] {
    outline: none;
    padding: 5px 15px;
    background: none;
    width: 91%;
    border: none;
    font-size: 0.8em;
    color: #4c4c4c;
}

.search input[type="submit"] {
    width: 15px;
    height: 15px;
    background: url(../images/search.png) 0px 0px no-repeat;
    padding: 0px 1px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 7px;
    right: 3px;
}


/* body*/

.future {
    margin: 10px;
    color: rgb(136, 133, 133)
}

h4.future::after {
    content: "";
    background: url(../images/line.png)0px 0px;
    width: 91%;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.content-top-in {
    padding: 3em 0;
}

.col-md {
    background: #d9d9d9;
    padding: 0.5em;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin: 15px 0;
}

.col-md img {
    width: 100%;
    border: 1px solid rgb(170, 170, 170)
}

.top-content {
    margin-top: 5px;
}

.top-content h5 a {
    text-decoration: none;
    color: #474744;
    transition: all 0.5s ease-in-out;
}

.top-content h5 a:hover {
    color: #E73737;
}

.white {
    margin-top: 10px;
}

.white a {
    position: relative;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: #63d2e0;
    border-radius: 3px;
    color: #55729c;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.hvr-shutter-in-vertical::before {
    background: #f5976c !important;
}

.dollar {
    float: right;
    border: 1px solid #636363;
    background: rgb(238, 238, 238);
    font-size: 1.2em;
    line-height: 1.3em;
    line-height: 1.4em;
    border-radius: 5px
}

p.dollar span {
    border-right: 1px solid #636363;
    padding: 4px;
    display: inline-block;
    color: #636363;
}

p.dollar span:nth-child(2) {
    border-right: none;
}

p.dollar span.in-dollar {
    color: #fafafa;
    background: linear-gradient(to bottom, #636363 58%, #363633 100%);
}


/**/

.footer-top {
    width: 100%;
    height: 144px;
    background: url(../images/back3.png)0px 0px;
    display: block;
    padding: 1.5em 0;
    border-bottom: 6px solid #d4ccb0;
}

.footer-in h4 {
    color: #443c1f;
}

.footer-in h4 i {
    width: 30px;
    height: 30px;
    background: url(../images/img-sprite.png)no-repeat -235px -11px;
    display: inline-block;
    vertical-align: middle;
}

.footer-in h4 i.cross {
    background-position: -275px -11px;
}

.footer-in h4 i.down {
    background-position: -313px -11px;
}

.footer-in p {
    color: #7d7253;
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 0.3em 0 0 2.1em;
}

.footer-middle {
    background: #636363;
    padding: 2em 0;
    border-bottom: 5px solid #5c5c5c;
}

.footer-middle-in {
    float: left;
    width: 20%;
}

.footer-middle-in h6 {
    font-size: 0.9em;
    color: #fafafa;
    text-transform: uppercase;
    padding: 0 0 10px 15px;
}

.footer-middle-in p {
    color: #c9c9c9;
    font-size: 0.9em;
    line-height: 1.9em;
    width: 79%;
    padding-left: 15px;
}

.footer-middle-in a {
    color: #c9c9c9;
    font-size: 0.9em;
    line-height: 1.9em;
    padding-left: 15px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
}

.footer-middle-in li {
    list-style: none;
}

.footer-middle-in li a:hover {
    color: #E73737
}

.footer-class {
    background: #4B4B4B;
    color: #c9c9c9;
    text-align: center;
    padding: 2em;
}

.footer-class a {
    color: #E73737;
    text-decoration: none;
    transition: all 0.3s linear;
}

.footer-class a:hover {
    color: #c9c9c9;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    overflow: hidden;
    width: 52px;
    height: 52px;
    border: none;
    text-indent: 100%;
    background: url('../images/up.png') no-repeat 0px 0px;
}